<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <mat-toolbar color="accent" class="navbar">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="white"
        >done_all</mat-icon
      >
      Worker's Hub
    </div>
    <div>
      <a mat-button>Home</a>
      <a mat-button>Sign In</a>
      <a mat-button>Sign Up</a>
      <a mat-button>Browse</a>
    </div>
  </mat-toolbar>
</div>
