.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.full-width {
  width: 100%;
}

span.mat-radio-inner-circle {
  background-color: #673ab7 !important;
}

h2 {
  text-align: center;
}
